@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  height: 44px;
  width: 100%;
  padding: 0 1rem;
}

.local-nav {
  height: 52px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem; 
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links a:not(.product-title) {
  margin-left: 20px;
  font-size: 1em;
}

.product-title {
  margin-right: auto;
  font-size: 21px;
  font-weight: bold;
}

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1{
  font-size: 4rem;
  text-align: center;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2.5rem;
  background-color: silver;
  margin: 5px 0;
}

.main-message p {
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}

.main-message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.description {
  font-size: 1.2rem;
  color: #888;
  padding: 0 1rem;
}

.description strong {
  font-size: 3rem;
  color: #333;
  float: left;
  margin: 0 10px;
}

.description-message {
  font-weight: bold;
  width: 50%;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: #333;
}

.mid-message {
  font-size: 2rem;
  color: #888;
  /* padding: 0 1rem; */
}

#scroll-section-3 {
  padding: 0 1rem;
}

.mid-message strong {
  color: #333;
  display: block;
}

.canvas-caption {
  color: #666;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  color: white;
  height: 7rem;
  margin-top: 5rem;
}

@media (min-width: 1024px) {
  
}